# Name of your application. Used to uniquely configure containers.
service: dss-lab-owasp-bck

# Name of the container image.
image: markalbrand/dss-lab-owasp-bck

# Deploy to these servers.
servers:
  web:
    - server1.albrand.tech

proxy:
  ssl: true
  host: dss-lab-owasp-bck.albrand.tech
  app_port: 8000
  healthcheck:
    interval: 3
    path: /health
    timeout: 3

registry:
  username: markalbrand
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  context: .

aliases:
  shell: app exec --interactive --reuse "bash"

ssh:
  user: deployer # Server user to connect as (default: root)
  keys: ["~/.ssh/hetzner-access"] # List of SSH keys to use for authentication

accessories:
  redis:
    service: redis
    image: redis:latest
    roles:
      - web
    volumes:
      - /var/lib/redis:/data

  # SonarQube's PostgreSQL database accessory
  sonar-db:
    image: postgres:17
    roles:
      - web
    port: "5432:5432"
    env:
      clear:
        POSTGRES_USER: sonar
        POSTGRES_DB: sonar
      secret:
        - POSTGRES_PASSWORD
    volumes:
      - ./dss-lab-owasp-bck/sonar-db/data:/var/lib/postgresql/data

  # SonarQube accessory
  sonarqube:
    image: sonarqube:community
    roles:
      - web
    port: 9000:9000
    proxy:
      ssl: true
      host: dss-sonarqube.albrand.tech
      app_port: 9000
      healthcheck:
        interval: 3
        path: /
        timeout: 120
    env:
      clear:
        SONAR_JDBC_URL: jdbc:postgresql://server1.albrand.tech:5432/sonar
        SONAR_JDBC_USERNAME: sonar
        SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true" # Disables Elasticsearch checks, useful for lab/dev environments
      secret:
        - SONAR_JDBC_PASSWORD
    volumes:
      - ./dss-lab-owasp-bck/sonarqube/data:/opt/sonarqube/data
      - ./dss-lab-owasp-bck/sonarqube/extensions:/opt/sonarqube/extensions
      - ./dss-lab-owasp-bck/sonarqube/logs:/opt/sonarqube/logs

env:
  REDIS_HOST: redis